.base-container {
    position: relative;

    .langind-side-1 {
        position: absolute;
        top: 150px;
    }

    .langind-side-2 {
        position: absolute;
        right: 0;
        transform: rotate(180deg);
        top: calc(100vh - 415px);
    }

    .base-navbar {
        min-height: 7rem;
        padding-top: 1.25rem;

        .base-inner-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 5rem;

            .nav-logo {
                width: 16rem;
                cursor: pointer;
                z-index: 1665046498;
            }

            .nav-right-items {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.25rem;

                .lets-connect {
                    display: flex;
                    gap: 0.5rem;
                }

                .nav-menu-container {
                    .nav-menu-btn {
                        position: relative;
                        cursor: pointer;
                        min-width: 40px;
                        min-height: 40px;
                        transition: all 0.3s;
                        z-index: 1665046498;

                        &.active {
                            .circles {

                                .circle-1 {
                                    border-color: #eeeeee !important;
                                }

                                .circle-2 {
                                    border-color: #eeeeee !important;
                                }
                            }

                            .menu-bar {
                                background: #eeeeee !important;

                                &::before {
                                    background: #eeeeee !important;
                                }
                            }
                        }

                        .circles {
                            position: absolute;
                            top: -30px;
                            left: -45px;

                            .circle-1 {
                                position: absolute;
                                width: 100px;
                                height: 100px;
                                border: 1px solid #2e2e2e;
                                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                                animation: border-radius-animi 3s linear infinite;
                            }

                            .circle-2 {
                                position: absolute;
                                width: 100px;
                                height: 100px;
                                border: 1px solid #2e2e2e;
                                border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
                            }
                        }

                        .menu-bar {
                            position: relative;
                            background: #222;
                            width: 20px;
                            height: 2px;
                            animation: all 0.3s;
                            display: inline-block;

                            &::before {
                                content: " ";
                                position: absolute;
                                background: #222;
                                width: 30px;
                                height: 2px;
                                top: 8px;
                                right: 0;
                                animation: all 0.3s;
                            }
                        }
                    }
                }
            }
        }

    }


    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #00BDFF, #5276D1, #7A53BA, #A32FA3);
        width: 100%;
        min-height: 100vh;
        z-index: 1665046497;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: slideIn 0.5s ease-in-out;

        .nav-menu-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .nav-menu-item {
                .nav-menu-item {
                    position: relative;
                    font-size: 2.5rem;
                    color: #eeeeee;
                    font-weight: 600;
                    cursor: pointer;

                    span {
                        color: #2b2b2b;
                    }

                    &.left-anim::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #eeeeee;
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
                        transform: translateX(-100%);
                    }

                    &:hover.left-anim::after {
                        opacity: 1;
                        transform: translateX(0%);
                    }

                    &.right-anim::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #eeeeee;
                        bottom: 0;
                        left: 0;
                        opacity: 0;
                        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
                        transform: translateX(100%);
                    }

                    &:hover.right-anim::after {
                        opacity: 1;
                        transform: translateX(0%);
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 1460px) {
    .base-container {

        .langind-side-1,
        .langind-side-2 {
            display: none;
        }
    }
}

@media only screen and (max-width: 767px) {
    .base-container {
        .base-navbar {

            .base-inner-container {

                .nav-logo {
                    width: 14rem;
                }

                .nav-right-items {

                    .lets-connect {
                        display: none;
                    }

                    .nav-book-button {
                        display: none;

                    }
                }
            }

        }

        .menu-overlay {
            .nav-menu-list {
                gap: 15px;

                .nav-menu-item {
                    .nav-menu-item {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 642px) {
    .base-container {
        .base-navbar {

            .base-inner-container {

                .nav-logo {
                    width: 12rem;
                }

                .nav-right-items {

                    .lets-connect {}

                    .nav-book-button {}

                    .nav-menu-container {
                        .nav-menu-btn {
                            margin-right: 20px;
                        }
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 430px) {
    .base-container {
        .base-navbar {
            .base-inner-container {
                .nav-logo {
                    width: 10rem;
                }

                .nav-right-items {
                    .nav-menu-container {
                        .nav-menu-btn {

                            .circles {
                                top: -18px;
                                left: -30px;

                                .circle-1 {
                                    width: 80px;
                                    height: 80px;
                                }

                                .circle-2 {
                                    width: 80px;
                                    height: 80px;
                                }
                            }

                            .menu-bar {
                                width: 20px;

                                &::before {
                                    width: 25px;
                                    height: 2px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .menu-overlay {
            overflow-x: hidden;
            padding-top: 200px;
            justify-content: flex-start;

            .nav-menu-list {
                gap: 10px;

                .nav-menu-item {
                    .nav-menu-item {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}