.insights-cards {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    cursor: pointer;

    .insights-card-inner {
        width: 48%;
        height: 450px;
        will-change: transform, color, background;
        position: relative;
        z-index: 0;
        display: inline-block;
        border-radius: 1.5rem;
        padding: 3.5rem;
        margin-bottom: 20px;
        background: linear-gradient(145deg, #00BDFF, #5276D1, #ecf5f8, #7A53BA, #A32FA3);
        // background: linear-gradient(145deg, #ffe680, #ffd700, #e6ac00, #ffd700, #ffe680);
        background-size: 200% 200%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(255, 255, 255, 0.3);
        animation: metallic-sheen 5s infinite;
        display: flex;


        .insights-card-front {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: flex-start;
            animation: display 2s ease-in-out;

            img {
                width: 12rem;
            }

            .insights-card-content {
                font-weight: bolder;
                font-size: 32px;
                display: flex;
                transition: justify-content 2s;
            }
        }

        .insights-card-back {
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            animation: display 2s ease-in-out;

            .insights-card-text {
                font-weight: bolder;
                font-size: 96px;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                transition: justify-content 2s;
            }
        }

        &:hover {
            // .insights-card-front {
            //     display: none;
            // }

            // .insights-card-back {
            //     display: flex;
            // }
        }
    }

    .insights-c-1:hover {
        background: #00BDFF !important;
    }

    .insights-c-2 {
        margin-top: 150px;

        &:hover {
            background: #5276D1 !important;
        }
    }

    .insights-c-3 {
        margin-top: -150px;

        &:hover {
            background: #7A53BA !important;
        }
    }

    .insights-c-4:hover {
        background: #A32FA3 !important;
    }
}

@media only screen and (max-width: 1400px) {
    .insights-cards {
        gap: 30px;

        .insights-card-inner {
            height: 420px;
            width: 48%;

            .insights-card-front {
                img {
                    width: 140px;
                }

                .insights-card-content {}
            }

            .insights-card-back {

                .insights-card-text {}
            }
        }
    }
}

@media only screen and (max-width: 1350px) {
    .insights-cards {
        gap: 25px;

        .insights-card-inner {
            height: 390px;
            width: 48%;

            .insights-card-front {
                img {}

                .insights-card-content {}
            }

            .insights-card-back {

                .insights-card-text {}
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .insights-cards {
        gap: 25px;

        .insights-card-inner {
            height: 360px;
            width: 48%;

            .insights-card-front {
                img {}

                .insights-card-content {}
            }

            .insights-card-back {

                .insights-card-text {}
            }

        }

        .insights-c-2 {
            margin-top: 150px;
        }

        .insights-c-3 {
            margin-top: -150px;
        }
    }
}

@media only screen and (max-width: 1250px) {
    .insights-cards {
        gap: 20px;

        .insights-card-inner {
            height: 330px;
            width: 48%;

            .insights-card-front {
                img {
                    width: 130px;
                }

                .insights-card-content {}
            }

            .insights-card-back {

                .insights-card-text {}
            }

        }

        .insights-c-2 {
            margin-top: 140px;
        }

        .insights-c-3 {
            margin-top: -140px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .insights-cards {
        gap: 20px;

        .insights-card-inner {
            height: 300px;
            width: 48%;

            .insights-card-front {
                img {}

                .insights-card-content {
                    font-size: 30px;
                }
            }

            .insights-card-back {

                .insights-card-text {
                    font-size: 72px;
                }
            }
        }

        .insights-c-2 {
            margin-top: 120px;
        }

        .insights-c-3 {
            margin-top: -120px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .insights-cards {
        gap: 10px;

        .insights-card-inner {
            height: 270px;
            width: 48%;

            .insights-card-front {
                img {
                    width: 100px;
                }

                .insights-card-content {

                    font-size: 26px;
                }
            }

            .insights-card-back {

                .insights-card-text {
                    font-size: 60px;
                }
            }
        }

        .insights-c-2 {
            margin-top: 100px;
        }

        .insights-c-3 {
            margin-top: -100px;
        }
    }
}

@media only screen and (max-width: 1050px) {
    .insights-cards {
        gap: 10px;

        .insights-card-inner {
            height: 240px;
            width: 48%;

            .insights-card-front {
                img {
                    width: 90px;
                }

                .insights-card-content {
                    font-size: 24px;
                }
            }

            .insights-card-back {

                .insights-card-text {
                    font-size: 47px;
                }
            }
        }

        .insights-c-2 {
            margin-top: 80px;
        }

        .insights-c-3 {
            margin-top: -80px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .insights-cards {
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .insights-card-inner {
            height: 400px;
            width: 100%;

            .insights-card-front {
                img {
                    width: 130px;
                }

                .insights-card-content {
                    font-size: 32px;
                }
            }

            .insights-card-back {

                .insights-card-text {
                    font-size: 72px;
                }
            }
        }

        .insights-c-2 {
            margin-top: 0;
        }

        .insights-c-3 {
            margin-top: 0;
        }

    }
}

@media only screen and (max-width: 767px) {
    .insights-cards {
        padding: 70px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .insights-card-inner {
            height: 380px;
            width: 100%;
            border-radius: 1.4rem;
            padding: 3rem;

            .insights-card-front {
                img {}

                .insights-card-content {}
            }

            .insights-card-back {

                .insights-card-text {}
            }
        }

        .insights-c-2 {
            margin-top: 0;
        }

        .insights-c-3 {
            margin-top: 0;
        }

    }
}

@media only screen and (max-width: 660px) {
    .insights-cards {
        padding: 60px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .insights-card-inner {
            height: 330px;
            width: 100%;

            .insights-card-front {
                img {
                    width: 110px;
                }

                .insights-card-content {
                    font-size: 28px;
                }
            }

            .insights-card-back {

                .insights-card-text {
                    font-size: 60px;
                }
            }
        }

        .insights-c-2 {
            margin-top: 0;
        }

        .insights-c-3 {
            margin-top: 0;
        }

    }
}

@media only screen and (max-width: 580px) {
    .insights-cards {
        padding: 50px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .insights-card-inner {
            height: 280px;
            width: 100%;
            border-radius: 1.4rem;
            padding: 2.7rem;

            .insights-card-front {
                img {
                    width: 100px;
                }

                .insights-card-content {
                    font-size: 18px;
                }
            }

            .insights-card-back {

                .insights-card-text {
                    font-size: 46px;
                }
            }
        }

        .insights-c-2 {
            margin-top: 0;
        }

        .insights-c-3 {
            margin-top: 0;
        }

    }
}

@media only screen and (max-width: 500px) {
    .insights-cards {
        padding: 40px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .insights-card-inner {
            height: 220px;
            width: 100%;
            border-radius: 1rem;
            padding: 2rem;

            .insights-card-front {
                img {
                    width: 90px;
                }

                .insights-card-content {}
            }

            .insights-card-back {

                .insights-card-text {
                    font-size: 38px;
                }
            }
        }

        .insights-c-2 {
            margin-top: 0;
        }

        .insights-c-3 {
            margin-top: 0;
        }

    }
}

@media only screen and (max-width: 430px) {
    .insights-cards {
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .insights-card-inner {
            height: 200px;
            width: 100%;
            border-radius: 0.5rem;
            padding: 1.5rem;

            .insights-card-front {
                img {
                    width: 80px;
                }

                .insights-card-content {
                    font-size: 14px;
                }
            }

            .insights-card-back {

                .insights-card-text {
                    font-size: 34px;
                }
            }
        }

        .insights-c-2 {
            margin-top: 0;
        }

        .insights-c-3 {
            margin-top: 0;
        }

    }
}