.ms-reviews {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    .ms-reviews-container {
        max-width: 900px;
        margin: auto;
        // min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .ms-reviews-list {
        display: flex;
        flex-direction: column;
        padding: 0 10% 100px 10%
    }

    .ms-review-item-info {
        width: fit-content;
        line-height: 1.5;
        padding: 5px 20px 3px 20px;
        border-radius: 4px 4px 0px 0px;
        font-size: clamp(10px, 2vw, 20px);
        ;
    }

    .ms-review-item {
        margin: 0 0 clamp(15px, 2vw, 25px) 0;
        font-size: clamp(40px, 8vw, 80px);
        font-weight: 600;
        line-height: 1;
        white-space: nowrap;
        padding: 5px 10px;
        width: fit-content;
        text-transform: uppercase;
        border-radius: 0 4px 4px 4px;
    }

    .ms-reviwe-color-theme1 {
        background-color: #0b3f78;
        color: #eeeeee;
    }

    .ms-reviwe-color-theme2 {
        background-color: #FFA12B;
        color: #eeeeee;
    }


    .ms-reviwe-color-theme1-invert {
        background-color: #ff0303;
        color: #ffffff;
    }

    .ms-reviwe-color-theme2-invert {
        background-color: #0e5225;
        color: #ffffff;
    }
}