#my-video {
    min-height: 50vh;
    background: url(@assets/video-bg.webp) right center no-repeat;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    .clips {
        position: absolute;
        right: 100px;
        height: 531px;
    }
}


@media (max-width: 1670px) {
    #my-video {
      background-size: cover;
    }
    .clips {
      left: unset;
      right: 2%;
    }
    #my-video {
      background-position: 0%;
      margin-left: 5%;
      padding-left: 0;
    }
}

@media (max-width: 992px) {
    .clips {
      right: -15%;
      z-index: 0;
    }
}
@media (max-width: 767px) {
    .clips {
        display: none;
    }
}
  